.points-area {
    white-space: nowrap;
}

.points-area__blank {
    display: inline-block;
    width: 36px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.42);
}

.checklist-header-toolbar {
    display: flex;
    flex-direction: row;
    padding: 0 24px 0 16px;
}

.checklist-title--points {
    margin-left: auto;
}

table {
    width: 100%;
}

td.cdk-column-checkbox {
    padding: 0 4px;
}

.cdk-column-text {
    width: 100%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 24px;
}

tr.mat-row {
    height: 24px;
}

