<mat-form-field appearance="fill" class="title-input">
    <mat-label>Section name</mat-label>
    <input matInput type="text" [(ngModel)]="model.title">
    <button mat-button *ngIf="model.title" matSuffix mat-icon-button aria-label="Clear" (click)="model.title=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

<h3>
    Questions
    <button mat-mini-fab aria-label="Add question button" color="primary" (click)="addQuestion()">
        <mat-icon>add</mat-icon>
    </button>
</h3>

<p *ngIf="model.questions.length == 0">[ Add questions to display them here ]</p>

<mat-list cdkDropList (cdkDropListDropped)="reorder($event)">
    <mat-list-item cdkDrag *ngFor="let question of model.questions; let index=index; trackBy:trackByIndex">
        <mat-icon cdkDragHandle class="list__icon">drag_handle</mat-icon>
        <mat-form-field [floatLabel]="'never'" class="list__input">
            <input matInput type="text" placeholder="Question text" [(ngModel)]="model.questions[index].question">
            <button mat-button *ngIf="model.questions[index].question" matSuffix mat-icon-button aria-label="Clear"
                (click)="model.questions[index].question=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Blank length</mat-label>
            <mat-select [(ngModel)]="model.questions[index].blankLength">
                <mat-option [value]="0">Short</mat-option>
                <mat-option [value]="1">Medium</mat-option>
                <mat-option [value]="2">Long</mat-option>
                <mat-option [value]="3">Full</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- <span>Blank Length:</span>
        <mat-slider [min]="0" [max]="3" [step]="1"
            [(ngModel)]="model.questions[index].blankLength"
            thumbLabel [displayWith]="formatLabel"></mat-slider> -->

        <button mat-button mat-icon-button aria-label="Delete" (click)="deleteQuestion(index)">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-list-item>
</mat-list>