.number-input {
    width: 130px;
    margin-right: 16px;
}

.title-input {
    width: 240px;
}

/* .list__input {
    padding-left: 16px;
    width: 200px;
} */

.checklist-items-list > .mat-list-item {
    font-size: 14px;
}

.checklist-item-points {
    width: 64px;
}

.mat-list-item {
    height:auto;
}

.checklist-line-item {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.checklist-line-item > *:not(:first-child){
    margin-left: 8px;
}

.checklist-line-item :first-child{
    align-self: center;
}

.list__input {
    flex: 1 1 auto;
}

.points-settings-div > *:not(:first-child) {
    margin-left: 16px;
}

.checklist-title-settings-div > :last-child {
    margin-left: 16px;
}