.number-input {
    width: 130px;
    margin-right: 16px;
}

.title-input {
    width: 240px;
}

.list__input {
    padding-left: 16px;
    width: 200px;
}

.checklist-items-list > .mat-list-item {
    font-size: 14px;
}

.checklist-item-points {
    width: 64px;
}