.document-title-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.document-title-area > :first-child {
    margin-right: 24px;
}

.bottom-row {
    padding-left: 16px;
    padding-right: 16px;
}

.navigation-button-area {
    flex-flow: row nowrap;
}

.navigation-button-area > button {
    flex: 0 0 auto;
    margin: 12px 0px;
    height: 36px;
}

.navigation-button-area > button:not(:last-child) {
    margin-right: 24px;
}

.main-document {
    width: 800px;
    background-color: white;
}

.main-document-view {
    margin-left: 16px;
    margin-right: 16px;
}

@media (max-width: 1016px) {
    .main-document-view {
        overflow-x: scroll;
    }
}

app-checklist-section-view:not(:last-child) {
    margin-bottom: 24px;
}

.spacer {
    height: 24px;
    width: 100%;
}

.total-points-area {
    padding-bottom: 32px;
}

.align-right {
    display: flex;
    padding-right: 24px;
}

.align-right > :first-child {
    margin-left: auto;
}

.points-area__blank {
    display: inline-block;
    width: 72px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.42);
}