h3 {
    margin-left: 16px;
}

.main-document {
    width: 800px;
    background-color: white;
    margin: 0 auto;
}

@media (max-width: 799px) {
    .main-document-view {
        width: 90%;
        margin: 0 auto;
        overflow-x: scroll;
        overflow-y: scroll;
    }
}

app-checklist-section-view:not(:last-child) {
    margin-bottom: 24px;
}

.spacer {
    height: 24px;
    width: 100%;
}

.total-points-area {
    float: right;
    margin-right: 24px;
}

.points-area__blank {
    display: inline-block;
    width: 72px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.42);
}