<mat-card>
    <mat-card-title>Document Sections</mat-card-title>
    <mat-card-subtitle>
        Create, delete, and re-order sections for this document
    </mat-card-subtitle>

    <mat-card-content>
        <mat-accordion [multi]="true" class="sections-list" cdkDropList (cdkDropListDropped)="reorder($event)">
            <mat-expansion-panel cdkDragBoundary=".sections-list" cdkDrag
                *ngFor="let section of getSections();let index=index;trackBy:section?.id">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon cdkDragHandle>drag_handle</mat-icon>
                        [{{section.type | uppercase}}]
                    </mat-panel-title>
                    <mat-panel-description>
                        {{section.model?.title}}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <ng-container [ngSwitch]="section.type">
                    <app-checklist-section-edit [sectionId]="section.id" *ngSwitchCase="sectionTypes.Checklist">
                    </app-checklist-section-edit>

                    <app-header-section-edit [sectionId]="section.id" *ngSwitchCase="sectionTypes.Header">
                    </app-header-section-edit>

                    <app-questions-section-edit [sectionId]="section.id" *ngSwitchCase="sectionTypes.Questions">
                    </app-questions-section-edit>
                </ng-container>

                <mat-action-row>
                    <button mat-button (click)="deleteSection(index)">
                        Delete Section<mat-icon>delete</mat-icon>
                    </button>
                </mat-action-row>

            </mat-expansion-panel>

        </mat-accordion>
    </mat-card-content>

    <mat-card-actions>
        <mat-form-field>
            <mat-label>Add a section of type</mat-label>
            <mat-select #SectionSelect>
                <mat-option *ngFor="let type of sectionTypeValues" [value]="type">
                    {{type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="addSection(SectionSelect.value);SectionSelect.value=undefined"
            [disabled]="!SectionSelect.value">
            Add Section
        </button>
    </mat-card-actions>
</mat-card>