/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.section-title {
    width: 100%;
    background-color: rgb(213, 213, 213);
}

.checklist-items-list .mat-form-field-infix {
    padding: 0.5em 0 0.5em 0;
}